#add-new {
    // display: flex;
    // align-self: end;
    margin-left: 9.5rem;
    max-width: 100px;
    width: 100%;
    text-align: center;
}

form {

    button {
        margin-right: 10px;
    }
}
