// .search__item {
//     display: flex;
// }

.search__item {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-left: 80px;
    margin-bottom: 1rem;
  
    label {
      font-size: 1.2em;
      font-weight: bold;
    }
  
    select, input[type="text"] {
      padding: 5px;
      font-size: 1em;
      width: 10%; // Adjust this value as needed
      border-radius: 8px;
    }
  
    input[type="text"] {
      //flex-grow: 1;
      width: 30%;
    }
  }